<h1>
	Find Movie
</h1>
@using (Html.BeginForm("Find","Movie",FormMethod.Post)){
	<p>
		Enter Id : <input type="text" id="id" name="id"/>
	</p>
	<p>
		<input type="submit" value="Find Movie"/>
	</p>
}
<hr />